//variables
$color_primario: #f2c2bd;
$color-secundario: #bba3e6;
$color-clarito: whitesmoke;
$fuente: "Roboto", sans-serif;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    font-family: $fuente !important;
    background-image: url("./img/fondo1.webp");
    background-repeat: repeat;
    background-size: contain;
}

.navbar__estilos{
    background-color: $color_primario;

}
button.sesion{
    white-space: nowrap !important;
    margin-right: 2rem;
}

.navbar__toggler__icon{
    width: 2em;
    height: 2em;
}

.navbar__logo {
    margin-right: 0px;
}

.navbar__titulo{
    padding-left: 1rem;
}

.carousel___contenedor{
    display: flex;
    
    
}

.carousel___contenedor {
    
         justify-content: space-around;
       
   
}

.card__single{
    display: flex;
   
  background-color: $color_primario;
  text-align: center;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 1s linear;
  align-items: center;
  margin: 2rem;
}

.card__single:hover{
    box-shadow: 1px 1px 3px 1px grey;
      transform: translate(5px, 5px);
  }

.card__single {
    img{
        width: 70%;

    }
    
}

footer{
    display: flex;
    background-color: $color_primario;
    margin-top: 20px;
    height: 80px;
    justify-content: space-evenly;
    
    
  }
  
  
  .footer-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
  }
  .footer-items li{
    list-style: none;
    margin: 20px;
    padding: 50px;
    
  }

  .titulo-a{
    display: flex;
    font-weight: 900;
    font-size: 25px;
    background-color: $color-secundario;
    justify-content: center;
    padding: 20px;
    margin-top: 30px;
    color: $color-clarito;
  }

  
.contenedor-tutoriales{
    display: flex;
    justify-content: space-around;
  }
  
  .cajas-tutoriales{
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-weight: 500;
    align-items: center;
  }
    
#tutorial__titulo{
    justify-content: center;
}