.encabezados{
    background-color: $color-secundario;
    color: $color-clarito;
    font-family: $fuente !important;
    font-weight: 400;
    text-align: center;
    h3{
        padding: 10px;
    }
    .encabezados__1{
        margin-top: 20px;
    }
}