//aplico extend

.card__single{

    //aplico extend
    @extend %flex;


    background-color: $color_primario;
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 1s linear;
    align-items: center;
    margin: 2rem;
    &:hover{
        box-shadow: 1px 1px 3px 1px grey;
        transform: translate(5px, 5px);
    }
}



.card__single {
    img{
        width: 70%;

    }
    h5{
        font-family: $fuente;
    }
    
}