@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap");
//variables
$color_primario: #f2c2bd;
$color-secundario: #bba3e6;
$color-secundario-oscuro: #6943b1;
$color-clarito: whitesmoke;
$color-icons: grey;
$fuente: "Roboto", sans-serif;